{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Can I Blocks It{% block title %}{% endblock %}</title>
    <link rel="Shortcut Icon" href="{% static 'blockbuilder/blocksit-favicon.ico' %}" type="image/x-icon">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'blockbuilder/blocks.css' %}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'blockbuilder/blocks.js' %}"></script>
  </head>
  <body>
    {% block navbar %}
    <div class="navbar navbar-static-top navbar-default">
      <div class="container">
        <button class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Can I Blocks It</a>
        </div>
      </div>
    </div>
    {% endblock %}
    <div class="container page">
      <div class="content">
        <div id="main">
          {% block content %}
          {% endblock %}
          <div id="latestPhrases-title">Recent Phrases:</div>
          <div id="latestPhrases"></div>
        </div>
      </div>
      <hr>
      {% block footer %}
      <footer class="footer">
        <p>&copy; 2013 Can-I-Blocks-It</p>
      </footer>
      {% endblock %}
    </div>
  </body>
</html>